@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Ebbinghaus Flashcard App</h1>
    <p>Improve your memory with spaced repetition!</p>
    <a asp-action="Index" asp-controller="FlashcardSets" class="btn btn-primary">View Flashcard Sets</a>
</div>
<div>
    <h2>What is the Ebbinghaus Forgetting Curve?</h2>
    <p>The Ebbinghaus Forgetting Curve is a theory that describes how we forget information over time. The curve shows that we forget the most information shortly after learning it, and then the rate of forgetting slows down over time. By reviewing information at the right intervals, you can improve your memory and retain information for longer periods of time.</p>
    <p>Spaced repetition is a technique that uses the Ebbinghaus Forgetting Curve to help you remember information more effectively. By reviewing flashcards at increasing intervals, you can reinforce your memory and retain information for longer periods of time.</p>
</div>
<div>
    <h2>To Review</h2>
    <p>This is a real-time app and flashcard sets you need to review will automatically apper in in this section</p>
</div>

